In [4]:
# Import necessary packages
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [19]:
# Save the data
name_total = []
location_total = []
rating_total = []
impression_total = []
price_total = []
description_total = []
img_total = []


for i in range(1, 21):
    # Set the url
    url = f'https://www.tiket.com/hotel/indonesia/city/yogyakarta-108001534490276494'

    # Set the headers
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36'
    }

    # Get response using requests.get()
    r = requests.get(url, headers=headers)

    # Parse the text using BeautifulSoup
    soup = BeautifulSoup(r.text, 'html.parser')

    # Make items
    items = soup.find_all('div', {'class':'card-frame'})

    for it in items:
        # Get the name
        name = it.find('h3', {'class':'title ellipsis'}).text
        name_total.append(name)
        # Get the location
        loc = it.find('div', {'class':'location ellipsis'}).text.split(',')[0]
        location_total.append(loc)
        # Get the rating
        try:
            rating = float(it.find('div', {'class':'tiket-rating'}).text)
        except:
            rating = np.nan
        rating_total.append(rating)
        # Get the impression
        try:
            impression = it.find('div', {'class':'rating'}).find('div', {'class':'tiket-impression'}).text
        except:
            impression = ''
        impression_total.append(impression)
        # Get the price
        try:
            price = int(''.join(it.find('div', {'class':'price-wrap'}).find('div', {'class':'after-price'}).text.split('IDR ')[-1].split('.')))
        except:
            price = np.nan
        price_total.append(price)
        # Get the description
        try:
            description = it.find('div', {'class':'description'}).find('div', {'class':'line-clamp-2 description-content'}).text
        except:
            description = ''
        description_total.append(description)
        # Get the images link
        try:
            img = it.find('div', {'class':'image-wrap'}).find('img')['src']
        except:
            img = ''
        img_total.append(img)
    
    print(f'Response: {r.status_code} for page: {i}')

Response: 200 for page: 1
Response: 200 for page: 2
Response: 200 for page: 3
Response: 200 for page: 4
Response: 200 for page: 5
Response: 200 for page: 6
Response: 200 for page: 7
Response: 200 for page: 8
Response: 200 for page: 9
Response: 200 for page: 10
Response: 200 for page: 11
Response: 200 for page: 12
Response: 200 for page: 13
Response: 200 for page: 14
Response: 200 for page: 15
Response: 200 for page: 16
Response: 200 for page: 17
Response: 200 for page: 18
Response: 200 for page: 19
Response: 200 for page: 20

In [16]:
df = pd.DataFrame(data={'name':name_total,
                        'location':location_total,
                        'rating':rating_total,
                        'impression':impression_total,
                        'price':price_total,
                        'desc':description_total})

In [17]:
df.head()

Empty DataFrame
Columns: [name, location, rating, impression, price, desc]
Index: []

In [14]:
df.to_excel('hotel_jogja_tiket_com.xlsx')